{% include 'sitio/cabecera.html' %}

<div class="card">
    <div class="card-body">
        <h1 class="card-title">Nosotros</h1>
        <p class="card-text">Somo un equipo de porgramadores junior apasionados por seguir aprendiendo a programar.
            Puedes contactarnos mediante nuestros correos institucionales o nuestras redes sociales. <br>
        Alberto Demian Lopez Vazquez : <br> email:   <a href="">alberto.lopez@alumnos.udg.mx</a> <br>
        Juan Manuel Vazquez Santillan : <br> email:   <a href="">juan.vazquez0290@alumnos.udg.mx</a> <br>
        </p>
    </div>
    <br>
    <img width="60" class="card-img-top" src="/img/AboutUsImage.jpg" alt="Title">
</div>

{% include 'sitio/pie.html' %}