{% include 'admin/cabecera.html' %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    Datos del Administrativo
                </div>
                <div class="card-body">
                    <form action="/admin/administrativo/guardar" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="txtNombre" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" name="txtNombre" id="txtNombre"aria-describedby="helpId" placeholder="Escriba el nombre del administrativo">
                        </div>

                        <button type="submit" class="btn btn-primary">Agregar</button>

                    </form>
                </div>
                <div class="card-footer text-muted">
                    
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for seleccion in administrativo %}
                    <tr >
                        <td>{{ seleccion[0] }}</td>
                        <td>{{ seleccion[1] }}</td>
                        <td>
                            <form action="/admin/administrativo/borrar" method="post">
                                <input value="{{ seleccion[0] }}" type="hidden" name="txtID" id="txtID">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
           
            
        </div>

    </div>
</div>




{% include 'admin/pie.html' %}