{% include 'admin/cabecera.html' %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    Datos del Campus
                </div>
                <div class="card-body">
                    <form action="/admin/campus/guardar" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="txtNombre" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" name="txtNombre" id="txtNombre" aria-describedby="helpId" placeholder="Escriba la Matricula del campus">
                        </div>

                        <div class="mb-3">
                            <label for="txtLocalizacion" class="form-label">Localizacion:</label>
                            <input type="text" class="form-control" name="txtLocalizacion" id="txtLocalizacion"aria-describedby="helpId" placeholder="Escriba la Marca del campus">
                        </div>
                        <div><label class="form-label" for="administrativo">Administrativo</label></div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="txtAdmin">Options</label>
                            <select class="form-select" id="txtAdmin" name="txtAdmin">
                              <option selected>Choose...</option>
                              {% for administrativo in administrativos %}
                              <option value="{{ administrativo[0] }}">{{ administrativo[1] }}</option>
                              {% endfor %}
                              
                            </select>
                        </div>   
                        <div><label class="form-label" for="txtCentro">Centros</label></div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="txtCentro">Options</label>
                            <select class="form-select" id="txtCentro" name="txtCentro">
                              <option selected>Choose...</option>
                              {% for centro in centros %}
                              <option value="{{ centro[0] }}">{{ centro[1] }}</option>
                              {% endfor %}
                              
                            </select>
                        </div>                       

                        <button type="submit" class="btn btn-primary">Agregar</button>

                    </form>
                </div>
                <div class="card-footer text-muted">
                    
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Localizacion</th>
                        <th>Administrativo</th>
                        <th>Centro</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for campus in campuss %}
                    <tr >
                        <td>{{ campus[0] }}</td>
                        <td>{{ campus[1] }}</td>
                        <td>{{ campus[2] }}</td>
                        <td>{{ campus[3] }}</td>
                        <td>{{ campus[4] }}</td>
                        <td>
                            <form action="/admin/campus/borrar" method="post">
                                <input value="{{ campus[0] }}" type="hidden" name="txtID" id="txtID">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                            <br>
                            <form action="/admin/campus/edit" method="post">
                                <input value="{{ campus[0] }}" type="hidden" name="txtID" id="txtID">
                                <button type="submit" class="btn btn-primary">Editar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
           
            
        </div>

    </div>
</div>




{% include 'admin/pie.html' %}