{% include 'admin/cabecera.html' %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    Nuevos Datos del Auto
                </div>
                <div class="card-body">
                    <form action="/admin/autos/update" method="post" enctype="multipart/form-data">
                        <input value="{{ autos[0][0] }}" type="hidden" name="txtID" id="txtID">
                        <div class="mb-3">
                            <label for="txtMatricula" class="form-label">Matricula:</label>
                            <input type="text" class="form-control" name="txtMatricula" id="txtMatricula"aria-describedby="helpId" placeholder="{{ autos[0][1] }}">
                        </div>

                        <div class="mb-3">
                            <label for="txtMarca" class="form-label">Marca:</label>
                            <input type="text" class="form-control" name="txtMarca" id="txtMarca"aria-describedby="helpId" placeholder="{{ autos[0][2] }}">
                        </div>

                        <div class="mb-3">
                          <label for="txtModelo" class="form-label">Modelo</label>
                          <input type="text" class="form-control" name="txtModelo" id="txtModelo" aria-describedby="helpId" placeholder="{{ autos[0][3] }}">
                        </div>

                        <button type="submit" class="btn btn-primary">Update</button>

                    </form>
                </div>
                <div class="card-footer text-muted">
                    
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card-header">
                Datos anteriores del Auto
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Matricula</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr >
                        <td>{{ autos[0][0] }}</td>
                        <td>{{ autos[0][1] }}</td>
                        <td>{{ autos[0][2] }}</td>
                        <td>{{ autos[0][3] }}</td>
                    </tr>
                    
                </tbody>
            </table>      
        </div>
    </div>
</div>

{% include 'admin/pie.html' %}